// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.form {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  input {
    padding: 1rem;
    text-indent: 0.5rem;
    border: 0.1rem solid darkgrey;
    border-radius: 1rem;
  }
}

.form-button {
  grid-column: 1/ -1;
  padding: 1rem;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  border: none;
  border-radius: 1rem;
}

.mouseOver {
  background: rgba(0, 0, 0, 0.795);
}

figure {
  display: grid;
  grid-column: 1/ -1;
  justify-content: center;
  .meme-img {
    max-width: 100%;
  }
}

.meme {
  position: relative;
}

.meme-text {
  z-index: 100;
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
